<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authenticated</title>
  </head>
  <body>
    <h1>Authenticated</h1>
    <p>Welcome, you are successfully authenticated!</p>
  </body>
</html>
