.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.admin-container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
}

.Content{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    overflow: hidden;

}

.Table{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: auto;
        height: auto;
        overflow: hidden;
    }

select{
    min-width: 25rem;
    min-height: 3rem;
}