/* App.css */
.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #767171;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  padding: 2%;
  height: 100vh;
  margin-left: 0%;
  margin-top: 0%;
  overflow: hidden;
}
  .sidebar-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-container ul li {
    padding: 10px;
  }
  
  .sidebar-container ul li a {
    text-decoration: none;
    color: #000000;
    font-size: x-large;
  }
  
  .sidebar-container ul li a:hover {
    color: #ffffff;
  }
  

  .logo{
    color: rgb(108, 89, 132);
    margin-left: 8%;
    font-size: xx-large;
  }

